<!doctype html>
<html lang="ja">
<head>
    <title>Index</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <h1 class="title-name">菓子ネーター</h1>
        <div class="text-center">
            <a href="/result" methods=GET class="title">お菓子を診断する</a>
        </div>
    </div>
</body>
</html>